.App {
  text-align: center;
}
*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.navlink:hover{
   color: #7DA2A9;
}
.navb{
  width: 100%;
  /* height: 70px; */
  padding: 20px;
  align-items: center;
  display: flex;
  position: fixed;
  color:white;
  top: 0;
  z-index: 3;
}
.navb.active{
  color: black;
  background-color: #7DA2A9;
}
.navb.active .navlink:hover{
  color: white;
}
.typwrt{
  font-size: 20px;
  color: #7DA2A9;
  font-weight: bold;
}
.top{
  background-image: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
.prjct{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  gap: 10px;
}
.singlep:hover{
  background-color: #7DA2A9;
  color: white;
  /* -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15); */
    transform:scale(1.15);

    -webkit-transition: transform 1.15s ease-in-out;
    -moz-transition:transform 1.15s ease-in-out;
    -ms-transition:transform 1.15s ease-in-out;
}
.singlep:hover button{
  background-color: black;
}
.prbt{
  color: white;
}
.prbt:hover{
  transform: scale(1.5);
  -webkit-transition: transform 1s ease-in-out;
    -moz-transition:transform 1s ease-in-out;
    -ms-transition:transform 1s ease-in-out;
}
.navba{
  display: none;
}

@media screen and (max-width:780px) {
  .navba{
    
    width: 100%;
    /* height: 70px; */
    padding: 20px;
    align-items: center;
    display: flex;
    position: fixed;
    color:white;
    top: 0;
    z-index: 3;
  }
  .navb{
    display: none;
  }
  .navba.active{
    color: white;
    background-color: #7DA2A9;
  }
  .navba.active .navlink:hover{
    color: #7DA2A9;
    background-color: #7DA2A9;
  }
  
}
.overlay{
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background-color: black;
  border-radius: 20px;
  cursor: pointer;
}
.cont{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
}
.singlep:hover .overlay{
  opacity: 0.8;
}

